.main{
    width: 100vw;
    background : url(1.jpg) , goldenrod;
    background-blend-mode: multiply;
    background-size: contain;
    
}
.img1{  
    margin: 5px;
    height: 300px;
    width: 300px;
    background-clip: border-box;
     
}
.img2{
    margin: 5px;
    height: 300px;
    width: 200px;
    overflow: hidden;
    background-clip: border-box;
}
.img3{
    margin: 5px;
    float :left;
    height: 200px;
    width: 300px;
    overflow: hidden;
    background-clip: border-box;
}
.img4{
    margin: 5px;
    float : right;
    height: 300px;
    width: 300px;
    overflow: hidden;
    background-clip: border-box;
}